modules = ["web", "python-3.12", "postgresql-16"]
run = "python main.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "gunicorn main:app -b 0.0.0.0:8000"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 80
