{% extends 'base.html' %}
{% block content %}

<h1>Your information</h1>
<p>It is useful for the answers.</p>

<form action="/save_user_info">
	Username: {{ current_user.username }}<br>
	Name: <input name="name" value="{{ current_user.name }}"><br>
	Hobbies: <input name="hobbies" value="{{ current_user.hobbies }}"><br>
	School: <input name="school" value="{{ current_user.school }}"><br>
	Birthday: <input name="birthday" value="{{ current_user.birthday }}"><br>
	More information: <input name="text" value="{{ current_user.text }}"><br>
	<button>Save</button>
</form>

{% endblock %}