{% extends 'base.html' %}
{% block content %}

<div class="row">

	<div class="col">
		<h2>sign in</h2>
		<form method="POST" action='/login'>
			<label for="login username" class="form-label">Username</label>
			<input name="username" id="login username" class="form-control">
			<label for="login password" class="form-label">Password</label>
			<input name="password" type='password' id="login password" class="form-control">
			<button class="btn btn-primary">login</button>
		</form>
	</div>

	<div class="col"></div>

	<div class="col">
		<h2>sign up</h2>
		<form method="POST" action='/signup'>
			<label for="signup username" class="form-label">Username</label>
			<input name="username" id='signup username' class="form-control">
			<label for="signup password" class="form-label">Password</label>
			<input name="password" id='signup password' type='password' class="form-control">
			<label for="signup verify password" class="form-label">Verify password</label>
			<input name="verify_password" id='signup verify password' type='password' class="form-control">
			<button class="btn btn-primary">sign up</button>
		</form>
	</div>

</div>

{% endblock %}